input [type=text] , input[type=password] , input[type=email]{
    width: 20%;
    padding: 15px;
    margin: 5px 0px 22px 0;
    display: inline-block;
    border: 1px solid;
    
}
hr{
    border: 1px solid;
    margin-bottom: 25px;
}
button{
    background-color: lightskyblue;
    padding: 14px 20px;
    margin: 8px 0px;
    border: 1px solid;
    cursor: pointer;
    width: 20%;
    align-items: center;
}
button:hover {
    opacity: 1;
}
.container{
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media  screen and (max-width: 300px) {
    .signbut{
        width: 50%;
    }
    
}
h1{
    text-align: center;
}